# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor/
logs/
micro-mall-sku-cron
etc/app.ini
micro-mall-sku-cron.pid
micro-mall-sku-cron-darwin-amd64
micro-mall-sku-cron-linux-amd64
micro-mall-sku-cron-windows-amd64.exe
micro-mall-sku-cron-windows-amd64
nohup.out